{% extends 'base.html' %}

{% block content %}
  <h2>{{ advertisement.title }}</h2>
  <p>Категория: {{ advertisement.category }}</p>
  <p>Содержание: {{ advertisement.content | safe }}</p>
  <p>Автор: {{ advertisement.user }}</p>
  <p>Дата создания: {{ advertisement.created_at }}</p>

  <!-- Отображение медиа-контента, если он есть -->
  {% if advertisement.file %}
    {% if advertisement.file.url|slice:"-4:" == ".png" or advertisement.file.url|slice:"-4:" == ".jpg" or advertisement.file.url|slice:"-5:" == ".jpeg" or advertisement.file.url|slice:"-4:" == ".gif" %}
      <img src="{{ advertisement.file.url }}" alt="Media Content">
    {% elif advertisement.file.url|slice:"-4:" == ".mp4" or advertisement.file.url|slice:"-5:" == ".webm" %}
      <video controls>
        <source src="{{ advertisement.file.url }}" type="Медиа-контент">
        Ваш браузер не поддерживает видео.
      </video>
    {% else %}
      <a href="{{ advertisement.file.url }}">Скачать медиа-контент</a>
    {% endif %}
  {% endif %}

  <!-- Форма для отправки отклика на объявление -->
  <h3>Отправить отклик:</h3>
  <form method="post" action="{% url 'send_response' advertisement_id=advertisement.pk %}">
    {% csrf_token %}
    <textarea name="content" rows="4" cols="50" required></textarea><br>
    <button type="submit">Откликнуться</button>
  </form>

  <!-- Кнопка для редактирования объявления, если текущий пользователь его автор -->
  {% if request.user == advertisement.user %}
    <a href="{% url 'edit_advertisement' advertisement_id=advertisement.pk %}">Редактировать</a>
  {% endif %}
{% endblock %}

